<header class="jumbotron">
<!-- Main component for a primary marketing message or call to action -->
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <p style="padding:25px;"></p>
        </div>
    </div>
</header>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a ui-sref="app">Home</a></li>
                   <li class="active">About Us</li>
               </ul>
            </div>
        
        <div class="row row-content">
            
            <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <h3 align=center>About Gallaudet</h3>
            </div>
            <div class="col-xs-12 col-sm-9">
                <h2>Gallaudet University</h2>
                <p>Gallaudet University is the world leader in liberal education and career development for deaf and hard of hearing students. The University enjoys an international reputation for its outstanding programs and for the quality of the research it conducts on the history, language, culture, and other topics related to deaf people.</p>
                <p><a href="http://www.gallaudet.edu/about-gallaudet.html">More &raquo;</a></p>
               <div class="well">
                    <blockquote>
                        <p>After becoming deaf, I realized that I'd better get an education if I was ever to do anything with my life.</p>
                        <footer>I. King Jordan</footer>
                    </blockquote>
                </div> 
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <h3 align=center>About the Honors Program</h3>
            </div>
            <div class="col-xs-12 col-sm-9">
                <h2>The Honors Program at Gallaudet University</h2>
                <p>The Honors Program is a two-tier program offering students advanced preparation for graduate school or professional employment. We offer General Studies Honors (where students work towards Honors completing their General Studies Requirements) and University Honors (where students work towards an Honors degree during their last two years and complete an Honors Capstone).  Students who graduate with University Honors will be eminently prepared for admission to top-tier graduate or professional programs.
<br>
To aid students in their quest for excellence, we provide a number of benefits including dedicated study facilities, scholarships, social programs, and enhanced academic preparation.
<br><br>
                    If you have questions about our program, please contact <a href="mailto:honors@gallaudet.edu">honors@gallaudet.edu</a>.</p>
                <p><a href="http://www.gallaudet.edu/honors-program.html">More &raquo;</a></p>
               <div class="well">
                    <blockquote>
                        <p>The Honors Program helped me discover my academic ability when I enrolled in Gallaudet, and has been a wonderful resource on my journey to reach my full potential. I have grown intellectually, socially and emotionally through stimulating classroom discussions with my honors classmates and faculty.</p>
                    <footer>Kevin Peacock, Honors Student and Accounting Major</footer>
                    </blockquote>
                </div> 
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <h3 align=center>About Our UI Designer</h3>
                <img src="../images/izumi.jpg" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-9">
                <h2>Izumi Takizawa</h2>
                <p>Izumi Takizawa is from Japan and currently in the International Development Program in M.A. at Gallaudet University. Previously she earned a Bachelor of Arts degree in Faculty of Industrial Technology in the Department of Synthetic Design at The National University Corporation of Tsukuba University of Technology (NTUT). Izumi has sold her artwork with a Deaf group at Design Festa in Tokyo. She made a children's book specifically for the Deaf, and signed the story at a school for the Deaf in Japan.
                <br><br>
                Izumi's dream is to make children's books for Deaf children and their parents, in order to strengthen their bond and teach the parents sign language so they can communicate effectively with their child. She has strong illustration and graphic design skills, and is currently working as an artist in the National Science Foundation's Science of Learning Center on Visual Language and Visual Learning (VL2) at Gallaudet University.</p>
                
               <div class="well">
                    <blockquote>
                        <p>Tender Love Care.</p>
                        <p>Never too late.</p>
                        <footer>Izumi Takizawa</footer>
                    </blockquote>
                </div> 
            </div>
        </div>
         
    </div>
    
    